{{#> layouts/base }}

    {{#*inline "content-block"}}

        <div class="container">
            <div class="card col-12">
                <div class="card-header">
                    <div class="card-title">Profil von {{account.name}}</div>
                </div>
                <div class="card-body">
                    Fraktion: {{account.Faction.name}}
                    <br>
                    Rang: {{account.Role.name}}
                    <br>
                    {{#if account.isGettingPayed}}
                        Erhält Aktionsauszahlung
                    {{else}}
                        <b class="text-danger">Aktionsauszahlung gesperrt!</b>
                        <br>
                        <small class="text-muted">Handelt es sich um einen Fehler, melde dich bitte bei einem Leader!</small>
                    {{/if}}
                    <br>
                    {{#if account.isInstructor}}<span class="text-muted">Erhält Ausbildergehalt</span>{{/if}}
                </div>
            </div>
            <br>
            <div class="card col-12">
                <div class="card-header">
                    <div class="card-title">Passwort ändern</div>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="inputPassword">Altes Passwort</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Altes Passwort" name="oldPassword">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="inputPassword">Neues Passwort</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Neues Passwort" name="password1">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="inputPassword">Neues Passwort Wiederholen</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Neues Passwort Wiederholen" name="password2">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Speichern</button>
                    </form>
                </div>
            </div>
        </div>

    {{/inline}}

{{/layouts/base}}
