{{#> layouts/base }}

    {{#*inline "content-block"}}

        <div class="container">
            <div class="card col-12">
                <div class="card-header">
                    <div class="card-title">
                        Neuen Aktionstyp erstellen
                        <a href="/leader/operationTypes" class="btn btn-outline-light float-end"><i class="fa fa-arrow-left"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" placeholder="" name="name" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="countType">Berechnung (A: TypenWert, B: AktionsWert, G: Gehalt)</label>
                            <select class="form-select" id="countType" name="countType" required>
                                <option value="2">G = A * B</option>
                                <option value="1">G = A</option>
                                <option value="0">G = B</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="value">TypenWert (Geld)</label>
                            <input type="number" min="0" step="1" value="0"  class="form-control" id=value" placeholder="100" name="value" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="needValidCheck">Benötigt Bestätigung durch Leader</label>
                            <select class="form-select" id="needValidCheck" name="needValidCheck" required>
                                <option value="1">Ja</option>
                                <option value="0">Nein</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="timeOnDashboard">Dashboard Anzeigedauer in Stunden (0: aus)</label>
                            <input type="number" min="0" step=".1" value="0" class="form-control" id=timeOnDashboard" placeholder="100" name="timeOnDashboard" required>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Erstellen</button>
                    </form>
                </div>
            </div>
        </div>

    {{/inline}}

{{/layouts/base}}
